.basic-info-back-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #DEDEDE;
  font-size: 35px;
  text-shadow: none;
}

.basic-info-next-button {
  background-color: #4ABDAC;
  border: none;
  border-radius: 16px;
  bottom: 20px;
  box-shadow: none;
  color: white;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: .375rem .75rem;
  position: absolute;
  text-align: center;
  text-shadow: none;
  width: 80%;
}

.basic-info-view {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  text-align: left;
}