.hobbies-back-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #DEDEDE;
  font-size: 35px;
  text-shadow: none;
}

.hobbies-form {
  border-color: #979797;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
  color: #4ABDAC;
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

.hobbies-form::placeholder {
  color: #979797;
}

.hobbies-next-button {
  background-color: #4ABDAC;
  border: none;
  border-radius: 50%;
  bottom: 20px;
  box-shadow: none;
  color: white;
  font-size: 35px;
  height: 50px;
  line-height: 0.9;
  position: absolute;
  right: 20px;
  text-align: center;
  text-shadow: none;
  width: 50px;
}

.hobbies-view {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  text-align: left;
}