.hometown-view {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

.hometown-form {
  border-color: #979797;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
  color: #4ABDAC;
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

.hometown-form::placeholder {
  color: #979797;
}

.hometown-back-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #DEDEDE;
  font-size: 35px;
  text-shadow: none;
}

.hometown-next-button {
  background-color: #4ABDAC;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  color: white;
  font-size: 35px;
  height: 50px;
  line-height: 0.9;
  text-align: center;
  text-shadow: none;
  width: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}