.major-back-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #DEDEDE;
  font-size: 35px;
  text-shadow: none;
}

.major-next-button {
  background-color: #4ABDAC;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  color: white;
  font-size: 35px;
  height: 50px;
  line-height: 0.9;
  text-align: center;
  text-shadow: none;
  width: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.major-view {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  text-align: left;
}