.major-back-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #DEDEDE;
  font-size: 35px;
  text-shadow: none;
}

.major-next-button {
  background-color: #4ABDAC;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  color: white;
  font-size: 35px;
  height: 60px;
  line-height: 0.9;
  text-align: center;
  text-shadow: none;
  width: 60px;
}