.name-form {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
}

.back-button {
  background-color: transparent;
  box-shadow: none;
  text-shadow: none;
  border-color: transparent;
}