.role-back-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #DEDEDE;
  font-size: 35px;
  text-shadow: none;
}

.role-next-button {
  background-color: #4ABDAC;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  bottom: 20px;
  color: white;
  font-size: 35px;
  height: 50px;
  line-height: 0.9;
  position: absolute;
  right: 20px;
  text-align: center;
  text-shadow: none;
  width: 50px;
}

.role-toggle {
  background-color: white;
  border: 0.5px solid #979797;
  border-radius: 16px;
  color: #979797;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  height: 50px;
  overflow: auto;
  padding: .375rem .75rem;
  text-align: center;
  font-size: 25px;
  width: 80vw;
}

.role-toggle input{
  display: none;
  visibility: hidden;
}

.role-toggle:not(:disabled):not(.disabled).active {
  background-color: white;
  border: 0.5px solid #4ABDAC;
  border-radius: 16px;
  color: #4ABDAC;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  overflow: auto;
  padding: .375rem .75rem;
  text-align: center;
  width: 100%;
}

.role-view {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  text-align: left;
}