.chatModalTitle {
  margin-bottom: 1vh;
}

.chatModalProfileImage {
  height: auto;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 1.5vh;
}

.chatModalMessageBox {
  border-radius: 15px;
}

.chatModalSendBtn {
  margin-bottom: 1vh;
  width: 100%;
  background-color: #4ABDAC;
  border-color: #4ABDAC;
  color: white;
  border-radius: 20px;
  padding: .375rem .45rem;
  font-size: 1rem;
}

.chatModalCancelBtn {
  margin-bottom: 1vh;
  width: 100%;
  background-color: white;
  border-color: white;
  color: grey;
  border-radius: 20px;
  padding: .375rem .45rem;
  font-size: 1rem;
}
