.linkProfileBodyContainer {
  width: 100%;
}

.linkProfileBodyContainer .card {
  width: 100%;
}

.linkProfileBodyContainer .card-title {
  padding-left: 1vh;
  margin-bottom: 0.25rem;
}

.linkProfileBodyContainer .card-body {
  padding-left: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1vh;
}

.linkProfileBodyContainer .card-text {
  padding-left: 1vh;
  margin-bottom: .25rem;
}