.userProfileViewContainer {
  width: 100%;
  text-align: left;
  padding-bottom: 45px;
  height: 85%;
  max-height: 90%;
  overflow: scroll;
}

.userProfileViewContainer .row {
  margin-left: 0;
  margin-right: 0;
  margin-top: 2vh;
}

.userProfileImage {
  height: auto;
  width: 100%;
  border-radius: 15px;
}

.userProfileViewContainer .logoutBtn {
  margin-bottom: 1vh;
  width: 100%;
  background-color: #4ABDAC;
  border-color: #4ABDAC;
  color: white;
  border-radius: 20px;
  padding: .375rem .45rem;
  font-size: 1.5rem;
}