.profileCard {
  width: 100%;
  height: auto;
  border-radius: 20px;
  text-align: left;
}

.profileCard .card-title {
  height: 3.5vh;
  margin-bottom: .1rem;
  margin-left: 7px;
  margin-top: .5rem;
}

.profileCard .card-text {
  height: 2vh;
  margin-bottom: 1vh;
  margin-left: 3px;
}

.profileCard img {
  height: auto;
  width: 100%;
  border-radius: 0 0 15px 15px;
}
