.profileCardCol {
  margin-bottom: 5vh;
  max-height: 90%;
}

.linksContainer {
  max-height: 90%;
  height: 90%;
  overflow: scroll;
}

.linksContainer .title {
  max-height: 10%;
  width: 100%;
  padding-left: 15px;
}

.linksContainer .links {
  height: 87%;
  overflow: scroll;
  max-height: 90%;
}