.profileCardCol {
  margin-bottom: 5vh;
  max-height: 90vh;
}

.linksContainer {
  max-height: 90%;
  height: 90vh;
  overflow: scroll;
}

.linksContainer .title {
  max-height: 10vh;
  width: 100%;
  padding-left: 15px;
}

.linksContainer .links {
  height: 87vh;
  overflow: scroll;
  max-height: 90%;
}