.profileCardCol {
  margin-bottom: 5vh;
  max-height: 100%;
}

.linksContainer {
  max-height: 100%;
  height: 100%;
  overflow: scroll;
}

.linksContainer .title {
  max-height: 10%;
  width: 100%;
  padding-left: 15px;
}

.linksContainer .links {
  height: 90vh;
  overflow: scroll;
  max-height: 100%;
}