.chatProfileViewContainer {
  width: 100%;
  text-align: left;
  margin-bottom: 2vh;
}

.chatProfileViewContainer .row {
  margin-left: 0;
  margin-right: 0;
  margin-top: 2vh;
}

.chatProfileImage {
  height: auto;
  width: 100%;
  border-radius: 15px;
}