.chatBoxContainer {
  margin-left: 0%;
  max-width: 100%;
  width: 100%;
}

.chatBoxMessageBox {
  position: fixed;
  bottom: 10vh;
  width: 100%;
  margin-left: -46px;
}

.chatBoxMessageForm {
  width: 100%;
  margin-right: 0;
  padding-right: 0;
}

.chatBoxMessageButton {
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}