.messageLine {
  width: 100%;
  padding-left: 0px;
  margin: 0;
}

.messageLine img {
  position: absolute;
  max-height: 6vh;
  max-width: 6vh;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 1vh;
  float: right;
  bottom: 0.25vh;
  left: 1.25vh;
}

.messageLine .image {
  padding: 0;
}

.messageLine .message {
  padding: 0;
}

.sentMessage {
  float: right;
  max-width: 85%;
  margin-top: 1vh;
  background-color: #4ABDAC;
  border-radius: 20px;
}

.sentMessage .card-body {
  padding: 0.35rem 0.5rem;
  min-height: 1rem;
}

.sentMessage .sentMessageText {
  text-align: left;
  color: white;
}

.receivedMessage {
  float: left;
  text-align: left;
  max-width: 85%;
  margin-top: 1vh;
  background-color: #dedede;
  border-radius: 20px;
}

.sentMessage .receivedMessageText {
  text-align: left;
}

.receivedMessage .card-body {
  padding: 0.5rem;
  min-height: 1rem;
}