.launchView {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 5vh;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.logo {
  margin-bottom: 18vh;
}

.launchView .signupBtn {
  margin-bottom: 1vh;
  width: 100%;
  background-color: #4ABDAC;
  border-color: #4ABDAC;
  color: white;
  border-radius: 20px;
  padding: .375rem .45rem;
  font-size: 1.5rem;
}

.launchView .loginBtn {
  margin-bottom: 1vh;
  width: 100%;
  background-color: white;
  border-color: white;
  color: grey;
  border-radius: 20px;
  padding: .375rem .45rem;
  font-size: 1.5rem;
}

