.launchView {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 5vh;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.logo {
  margin-bottom: 18vh;
}

.button {
  margin-bottom: 1vh;
  width: 100%;
}

